DEBUG=True
SECRET_KEY=your-secret-key-here
ORS_API_KEY=your_openrouteservice_api_key
# ORS endpoint. Local instance example: http://localhost:8001/ors
ORS_BASE_URL=https://api.heigit.org/openrouteservice
# Geocode endpoint. Local instance example: http://localhost:8001/ors/geocode
PELIAS_BASE_URL=https://api.heigit.org/pelias/v1
ALLOWED_HOSTS=localhost,127.0.0.1
